:root {
    --white: #FFFFFF;
    --main-softbrot-green: #637247;
    --product-showcase-background: #F0F0F0;
    --product-font-color: #1D1D1B;
    --solutions-showcase-background: #FEF4E7;
    --contact-page-background: #1D1D1B;
    --about-us-page-background: var(--main-softbrot-green);
    --contact-form-outline: #4F8358;
    --contact-fields-placeholder: #696969;
    --contact-page-alter-background: #F0F0F0;
    --form-success-background: #44B157;
    --form-error-background: #C63926;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Poppins;
    background-color: var(--solutions-showcase-background);
}

@font-face {
    font-family: Poppins;
    src: url(./assets/Poppins-Medium.ttf);
}

body::-webkit-scrollbar{
  display: none;
}

.topbar {
    background-color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    z-index: 100;
}

.topbar .topbar_logo {
    width: 3rem;
    margin: 0.5rem 0;
    cursor: pointer;
}

.topbar .topbar_logo img {
    width: 100%;
}

.topbar .topbar_search {
    margin: 0 1rem;
    width: 20rem;
    position: relative;
    display: flex;
}

.topbar .topbar_search  svg {
    position: absolute;
    top: 50%;
    right: 0.5rem;
    transform: translateY(-50%);
    font-size: 1.2rem;
}

.topbar .topbar_search  input{
    width: 100%;
    font-size: 1rem;
    height: 2rem;
    border: none;
    outline: none;
    padding: 0 0.5rem;
    border-radius: 0.5rem;
    color : #fff;
    background-color: var(--main-softbrot-green);
    font-family: Poppins;
}

.topbar .topbar_search input::placeholder {
    color: #b8b8b8;
}

.topbar .topbar_search input:focus::placeholder {
    color: #fff;
}

.topbar .topbar_search  input:focus{
    border: #4f4f4f 1px solid;
}

.recipees-container {
    width: 80%;
    margin: 0 auto;
    padding: 0 1rem;
    margin-top: 8rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.recipees-container .recipe{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 400px;
    margin: 1rem;
    background-color: var(--product-showcase-background);
    text-align: center;
    border-radius: 0.5rem;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: transform 0.2s ease-in-out;
}

.recipees-container .recipe:hover {
    transform: scale(1.05);
}

.recipe .recipe_title {
    font-size: 1.2rem;
    margin: 1rem;
}

.recipe .recipe_desc {
    white-space: pre-line;
}

.recipe .recipe_image {
    width: 100%;
}

.recipe .recipe_image img {
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 100%;
}

.recipe_detail_popup {
    display: none;
}

.recipe_detail_popup.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: fadeIn 0.5s ease-in-out;
    overflow: auto;
    z-index: 1000;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.recipe_detail_popup .recipe_detail_popup_inner {
    width: 80%;
    height: 90%;
    padding: 1.5rem;
    color: var(--white);
    background-color: var(--contact-form-outline);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipe_detail_popup .recipe_detail_popup_inner .recipe_detail_popup_image {
    aspect-ratio: 4/3;
    width: 400px;
    margin-top: 1rem;
    
}

.recipe_detail_popup .recipe_detail_popup_inner .recipe_detail_popup_image img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 4/3;
    border-radius: 1rem;
}

.recipe_detail_popup .recipe_detail_popup_inner .recipe_detail_popup_title {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.recipe_detail_popup .recipe_detail_popup_inner .recipe_detail_popup_desc {
    width: 90%;
    margin: 1rem auto;
    color: var(--white);
    font-size: 1.2rem;
    white-space: pre-line;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    overflow-y: scroll;
    overflow-x: hidden;
}

.recipe_detail_popup .recipe_detail_popup_inner .recipe_detail_popup_desc p {
    margin: 0 1rem;
}

.recipe_detail_popup .recipe_detail_popup_inner .recipe_detail_popup_desc::-webkit-scrollbar{
    width: 5px;
}

.recipe_detail_popup .recipe_detail_popup_inner .recipe_detail_popup_desc::-webkit-scrollbar-track{
    background: transparent;
    border-radius: 1rem;
}

.recipe_detail_popup .recipe_detail_popup_inner .recipe_detail_popup_desc::-webkit-scrollbar-thumb{
    background: var(--product-showcase-background);
    border-radius: 1rem;
}

.recipe_detail_popup .recipe_detail_popup_inner .recipe_detail_popup_desc::-webkit-scrollbar-thumb:hover{
    background: #c4c4c4;
}


.recipe_detail_popup_close {
    display: flex;
    position: absolute;
    top: 5.5%;
    right: 50%;
    transform: translateX(50%);
}

.recipe_detail_popup .recipe_detail_popup_inner .recipe_detail_popup_close:hover {
    cursor: pointer;
}

@media screen and (max-width: 800px){

    .topbar {
        padding: 0 10px;
    }

    .topbar .topbar_search {
        margin-right: 0;
    }

    .recipees-container {
        width: 100%;
    }

    .recipees-container .recipe{
        width: 100%;
    }

    .recipees-container .recipe{
        width: 100%;
    }
    .recipe_detail_popup .recipe_detail_popup_inner {
        width: 95%;
        padding: 1rem;
    }
    .recipe_detail_popup .recipe_detail_popup_inner .recipe_detail_popup_image {
        aspect-ratio: 4/3;
        width: 100%;
    }
    .recipe_detail_popup .recipe_detail_popup_inner .recipe_detail_popup_image img {
        width: 100%;
        object-fit: cover;
        aspect-ratio: 4/3;
    }

    .recipe_detail_popup .recipe_detail_popup_inner .recipe_detail_popup_desc {
        width: 100%;
        font-size: 1rem;
    }

    .recipe_detail_popup .recipe_detail_popup_inner .recipe_detail_popup_desc p {
        margin: 0;
    }

    .recipe_detail_popup .recipe_detail_popup_inner .recipe_detail_popup_title {
        color: #fff;
        font-size: 1.2rem;
        text-align: center;
        cursor: pointer;
    }
}

@media screen and (max-width: 1120px){

    .recipees-container {
        width: 100%;
    }
    .recipees-container .recipe{
        width: 300px;
    }
}